<%- include("templates/cabecera.ejs", {tituloWeb: "crear nueva mascota"}) %>

<div class="container">
  <h1>Crear nueva mascota</h1>
  <form action="/mascotas" method="POST">
    <input
      name="name"
      type="text"
      placeholder="Agregar nombre"
      class="form-control my-2"
    />
    <input
      name="description"
      type="text"
      placeholder="Agregar Descripción"
      class="form-control my-2"
    />
    <button type="submit" class="btn btn-success btn-block">Agregar</button>
  </form>
</div>

<%- include("templates/footer.ejs") %>
